body { 
    background-color: #0C2D48;
    margin: 0; 
} 

.container { 
    display: flex; 
    justify-content: space-around; 
    text-emphasis-color: white;
}

h3 {
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    color: whitesmoke;
}

h4 {
    color: orangered;
}

.button {
    background-color: #0C2D48;
    border: white;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    /*font-size: 16px;*/
  }